
{% extends "base.html" %}

{% block title %}Cardenal Survey{% endblock %}

{% block headincludes %}
<link href="{{ STATIC_URL }}css/survey.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/surveyjs"></script>
{% endblock %}

{% block content %}
<h1> Cardenal's Superlative Quiz!</h1>
<p> There are no wrong answers. Just enter who you want! The results will be
tabulated and used in the Dorm Feud game show during Banquet. Mark your
calendars now, it's at: <strong>{{ feuddatetime }}</strong>. Be there!

<h3>Just tab to the first question, respond with a Cardenalian's name and hit <code>enter</code></h3>
<p>
  <strong>Hint:</strong>
  You can simply hit <code>enter</code> to go between questions.
</p>
<button id='showallbutton' class='tbutton' type="button">Show answered</button>
<button id='hideallbutton' class='tbutton' type='button'>Hide answered</button>
{% for question in questions %}
<form action='survey/' method='post' class='question_form'>
  {% csrf_token %}
  <input type="hidden" name="qid" class="question_id" value="{{ question.id }}" />
  <div class="fieldWrapper">
    <label for="id_{{question.id}}">{{ question }}</label>
    <p><input type="text" class="inp_resident" id="id_{{ question.id }}"
    name="resident" tabindex="{{ forloop.counter }}"
    value="{{ question.prevans }}"/></p>
    {% if question.istwoans %}
      <p><input type="text" class="inp_resident"
      name="resident2" value="{{ question.prevans2 }}"/></p>
    {% endif %}
  </div>
</form>
{% empty %}
<h3>Ask your staff to add some questions to the db</h3>
{% endfor %}

<small>Written by <a href="http://zahanm.com">Zahan Malkani</a>, and Brennan Saeta</small>

{% endblock %}

